<div class="ui-g">
  <div class="ui-g-6 view">
      <div class="ui-g">
          <div class="ui-g-6">
              <i class="fa fa-cloud icon-date-posted"></i>
              <div class="bottom">
                <span class="content-label">Ngày Đăng Tuyển</span><br>
                <span class="content">25/03/2019</span>
              </div>
          </div>
      </div>
      <div class="ui-g">
          <div class="ui-g-6">
              <i class="fa fa-cloud icon-date-posted"></i>
              <div class="bottom">
                <span class="content-label">CẤP BẬC</span><br>
                <span class="content">IT - Phần mềm</span>
              </div>
          </div>
      </div>
      <div class="ui-g">
          <div class="ui-g-6">
              <i class="fa fa-cloud icon-date-posted"></i>
              <div class="bottom">
                <span class="content-label">KỸ NĂNG</span><br>
                <span class="content">Unit Test, Java Core, Mysql, Java</span>
              </div>
          </div>
      </div>
      <div class="ui-g">
          <div class="ui-g-6">
              <i class="fa fa-cloud icon-date-posted"></i>
              <div class="bottom">
                <span class="content-label">NGÔN NGỮ TRÌNH BÀY HỒ SƠ</span><br>
                <span class="content">Bất kỳ</span>
              </div>
          </div>
      </div>

  </div>
</div>