<!-- <p-tabView>
  <p-tabPanel header="Thông tin cá nhân" leftIcon="pi pi-calendar">
     <app-infomation-add></app-infomation-add>
  </p-tabPanel>
  <p-tabPanel header="Việc làm của tôi" leftIcon="pi pi-inbox">
      <app-my-work></app-my-work>
  </p-tabPanel>
  <p-tabPanel header="Thông báo việc làm" leftIcon="pi pi-user" rightIcon="pi pi-star">
      <app-list-notifywork></app-list-notifywork>
  </p-tabPanel>
  <p-tabPanel header="Nhà tuyển dụng xem hồ sơ" leftIcon="pi pi-user" rightIcon="pi pi-star">
    
  </p-tabPanel>
  <p-tabPanel header="Tài khoản" leftIcon="pi pi-inbox">
    <app-account-candidate></app-account-candidate>
  </p-tabPanel>
</p-tabView> -->
<a [routerLink]="['thongTinCaNhan']">Thông tin cá nhân</a>
<a [routerLink]="['viecLamCuaToi']">Việc làm của tôi</a>
<a [routerLink]="['viewCV']">Xem CV</a>











