<div class="ui-g">
  <div class="ui-g-12 content">
    <div class="ui-g">
      <div class="ui-g-4">
        <h2>Các Phúc Lợi Dành Cho Bạn</h2>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4 detail" *ngIf="item1">
          <ul>
              <li>{{item1.loiIch}}</li>
          </ul>
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4">
          <h2>Mô Tả Công Việc</h2>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4 detail">
            <ul>
              <li>
                -	{{item1.yeuCau}}
              </li>
            </ul>
        </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <h2>Yêu Cầu Công Việc</h2>
      </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6 detail">
            <ul>
                <li>
                  -	Có kiến thức cơ bản về ngôn ngữ lập trình Java, ưu tiên các ứng viên đã có kinh nghiệm làm việc thực tế ít nhất 3 tháng trở lên.
                </li>
                <li>
                  -	Tốt nghiệp đại học hoặc tương đương chuyên ngành Công nghệ thông tin/Điện tử viễn thông/Khoa học máy tính/Toán-Tin…
                </li>
                <li>
                  -	Có khả năng đọc hiểu các tài liệu chuyên ngành tiếng Anh.
                </li>
            </ul>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6">
            <h2>QUYỀN LỢI VÀ CHẾ ĐỘ ĐÃI NGỘ	</h2>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-4 detail">
            <ul>
                <li>
                    {{item1.quyenLoi}}
                </li>
               
            </ul>
        </div>
    </div>
  </div>
</div>