<!-- <div class="ui-g">
  <div class="ui-g-12">
      <div class="ui-g">
          <div class="ui-g-1">
              
          </div>
          <div class="ui-g-10">
                  <div *ngFor="let item of testcc">
                      <div class="ui-g-6">
                          <app-favorite-job></app-favorite-job> 
                      </div>
                  </div>
          </div>
          <div class="ui-g-1">
          </div>
      </div>
  </div>
</div>  -->




<!-- <div class="ui-g">
        <div class="ui-g-12">
            <div *ngFor="let item of testcc">
                <div class="ui-g-12">
                        <app-favorite-job></app-favorite-job> 
                </div>
            </div>
        </div>
</div>
       -->
<div class="container">
       <div class="YourJobs">
        <div>
            <h3>Jobs You Will Love</h3>
            <div class="tab-wrapper">
                <div class="row tab">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right choose">
                        <div style="float: right;" class="active" id="lol">
                            <a href="#tab-top">
                                <p>TOP JOBS</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 choose">
                        <div>
                            <a href="#tab-recommanded">
                                <p>RECOMMANDED JOBS</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row tabcontent">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tab-item" id="tab-top">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <ul class="tab-items">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <ul class="tab-items">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!--recommanded-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tab-item" id="tab-recommanded">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <ul class="tab-items">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <ul class="tab-items">
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic1.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                    <a href="#">
                                                        <img src="./assets/images/topic.png" width="100%" />
                                                    </a>
                                                </div>
                                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                    <p>
                                                        <a href="#">
                                                            Tester Leader (Up to 1,500$)</a>
                                                    </p>
                                                    <p>
                                                        Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                                </div>
                                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                    <span>HOT</span>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--recommanded-->
                </div>
                <div class="com-slider-bottom">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#a">
                                <div class="active"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    
    <div class="Company">
        <h3>Company Spotlight</h3>
        <div class="container">

            <div>
                <img src="./assets/images/new_106068.jpg" />
                <div class="c-content">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 logo">
                            <a href="#">
                                <img src="./assets/images/ab.jpg" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

                            <h3>
                                <a href="#">Bolloré Logistics Việt Nam</a>
                            </h3>
                            <h5>Top 10 Freight Forwarders In The World</h5>
                            <p style="margin-bottom: 40px">Trên chặng đường phát triển sự nghiệp, Bạn cần một đối tác đủ mạnh, tin và trao cho bạn
                                cơ hội làm chủ tương lai. Bạn trao đi năng lượng, tài năng và sự nỗ lực của mình.
                                ACB trao cho Bạn cuộc sống ổn định và môi trường công bằng với những cơ hội phát
                                triển mạnh mẽ. Chúng ta là đối tác của nhau.</p>
                            <div class="text-right">
                                <a href="#" class="combutton">
                                    View more
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="com-slider-bottom">
                <ul>
                    <li>
                        <a href="#">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#a">
                            <div class="active"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




    

       
