 <div class="ui-g footer">  
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-1">
                
            </div>
            <div class="ui-g-10">
                <div class="ui-g">
                    <div class="ui-g-3">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                Về Fpt
                            </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    Liên hệ
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    Góc báo chí
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    Hỏi đáp
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    Thỏa thuận sử dụng
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    Quy định bảo mật
                                </div>
                        </div>
                    </div>
                    <div class="ui-g-3">
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <span>Tài khoản của tôi</span>
                            </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    <span>Hồ sơ của tôi</span>
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    <span>Việc làm của tôi</span>
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    <span>Thông báo việc làm</span>
                                </div>
                        </div>
                        <div class="ui-g">
                                <div class="ui-g-6">
                                    <span>Phản hồi</span>
                                </div>
                        </div>
                    </div>
                    <div class="ui-g-3">
                        <div class="ui-g">
                            <div class="ui-g-9 hinh">
                                    <img src="https://images.vietnamworks.com/gen/app-store-badge-vi.png" alt="Tải về trên App Store">
                                    <img class="android-coming-soon-badge" src="https://images.vietnamworks.com/gen/google-play-badge-vi.png" alt="Tải nội dung trên Google Play">
                            </div>
                        </div>
                        <div class="ui-g">
                             <div class="ui-g-9">
                                    <h5>Kết Nối Với VietnamWorks</h5>
                                   <img src="https://www.facebook.com/images/fb_icon_325x325.png">
                                   <img src="https://pbs.twimg.com/profile_images/875135141135302656/eiM2Wz66_400x400.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-1">
                
            </div>
        </div>
    </div>
</div> 
<div *ngIf="loginService.getName()" >
    <h3>{{loginService.getName()}}</h3>
    <h3>Conponen cua thang Teacher</h3>
</div>
