<div class="ui-g login">
  <div class="ui-g-4"></div>
  <div class="ui-g-4 wrap-login">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="ui-g-12 login-logo">
        <span>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe1d9UrC524mr-V1e9NcTD2eav54M43SKpWdNqT3SWj97fGRxkZQ" 
            alt="Smiley face" height="130" width="130">
        </span>
      </div>
      <div class="ui-g-12">
        <span class="login-title">
          LOG IN
        </span>
      </div>
      <div class="ui-g-12 login-input">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input type="text" pInputText  ngModel name="username" placeholder="Username">         
          </div>
      </div>
      <div class="ui-g-12 login-input">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fas fa-unlock-alt"></i></span>
              <input type="text" pInputText  ngModel name="password" placeholder="Password">         
          </div>
      </div>
      <div class="ui-g-12 login-checkbox">
        <div>
            <p-checkbox name="groupname" label="Remember"></p-checkbox>
        </div>
      </div>
      <div class="ui-g-12 login-btn">
          <button pButton type="submit" label="LOGIN"></button>
      </div>
      <div class="ui-g-12 input-forgot">
        <a href="#">Forgot Password?</a>
      </div>
      <div class="ui-g-12 input-forgot">
          <a href="#">Sign up</a>
        </div>
    </form>
  </div>
</div>