<div class="ui-g">
  <div class="ui-g-12">
      <div class="ui-g-3">
          <h1 style="color: darkgoldenrod">Tạo thông báo việc làm</h1>
      </div>
      <div class="ui-g-9" style="padding-left: 647px;margin-top: 31px;">
        <button type="text" (click)="showDialog()" pButton icon="pi pi-plus" label="Tạo thông báo việc làm"></button>
      </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
      <div class="ui-g">
          <div class="ui-g-12">
                  <div *ngFor="let item of listJob">
                      <div class="ui-g-12">
                            <!-- <app-notify-work (editJob)="Edit($event)" [TEN]='ten' [notifyWork]="item"></app-notify-work> -->
                            <app-notify-work (deleteJobNotify)="deleteJob($event)" (job)="tri($event)" (editJob)="Edit($event)" [JOB]='job' [notifyWork]="item"></app-notify-work>
                      </div>
                  </div>
          </div>
      </div>
  </div>
</div> 



 <p-dialog header="Tạo thông báo việc làm" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '500px'}" [minY]="70" 
        [maximizable]="true" [baseZIndex]="20000">
      
        <app-create-notify-work (sua)="getJob($event)"  (Edit)="suaTT($event)" (notyfyJob)="addJob($event)"></app-create-notify-work>     
</p-dialog>
 
