<!-- <p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="Việc làm" leftIcon="pi pi-calendar">
      <app-list-work></app-list-work>
  </p-tabPanel>
  <p-tabPanel header="Tìm ứng viên" leftIcon="pi pi-user" rightIcon="pi pi-star">
      <app-list-candidate></app-list-candidate>
  </p-tabPanel>
  <p-tabPanel header="Tài khoản" leftIcon="pi pi-inbox">
    <app-acount></app-acount>
  </p-tabPanel>
  <p-tabPanel header="Công ty" leftIcon="pi pi-inbox">
        <app-info-company></app-info-company>
   </p-tabPanel>
</p-tabView> -->

<a [routerLink]="['listWork']">Danh sách việc làm</a>

