<!-- <p-tabView>
    <div style="width: 20px;height: 20px;margin-left: 1396px;">
        <button pButton type="button" (click)="Dong()" label="Đóng" ></button>
    </div>

    
    <p-tabPanel header="Kết quả học tập" leftIcon="pi pi-calendar" *ngIf="infoStudent">
            <app-info-point [infoStudent]="infoStudent" [student]="student" ></app-info-point>
    </p-tabPanel>

    <p-tabPanel header="Xem CV" leftIcon="pi pi-inbox">
       <h3> -->
        <!-- <div *ngIf="student.Confirm==true">
            <h3>CCCCCCCC</h3>
        </div>
        <div *ngFor="let item of student" >
            <div *ngIf="item.Confirm==true">
                <h3>XXXXXXXXXXX</h3>
            </div>
            <div *ngIf="item.Confirm!=true">
                <h3>LLLLLLLLLLLLLLLL</h3>
            </div>
        </div> -->
        <!-- khoa:string;
        chuyenNganh:string;
        namHoc:number;
        ten:string;
        ho:string;
        gioiThieuBanThan:string;
        email:string;
        soDienThoai:string;
        ngaySinh:string; -->
      
        <!-- <div *ngFor="let item of CV">
            <div *ngIf="item.danhGia==''">
                <div>{{item.khoa}}</div>
                <div>{{item.chuyenNganh}}</div>
                <div>{{item.ho}}</div>
                <div>{{item.namHoc}}</div>
                <div>{{item.ten}}</div>
                <div>{{item.ho}}</div>
                <div>{{item.gioiThieuBanThan}}</div>
                <div>{{item.email}}</div>
                <div>{{item.soDienThoai}}</div>
                
            </div>
            <div *ngIf="item.danhGia!=''">
                <div>
                    <img style="width: 100px;height: 100px;" src="https://cdn1.vectorstock.com/i/1000x1000/62/45/green-circle-check-mark-confirmation-tick-marks-vector-21826245.jpg">
                </div>
                {{item.idCV}}
                {{item.MSSV}}
                {{item.danhGia}}
                </div>
        </div>
        <h3>Kỹ năng</h3>
        <div *ngFor="let item of arrayKyNang">
            <div>
            {{item.danhGia}}
            <div>
                    {{item.namekiNang}}
            </div>
            </div>
        </div>
        <h3>Ngôn ngữ</h3>
        
        <div *ngFor="let item of arrayNgoaiNgu">
           <div>{{item.nameNgonNgu}} </div>
        </div>
        <h3>Kinh nghiệm làm việc</h3>
        <div *ngFor="let item of arrayKinhNghiemLam">
            <div>{{item.tenCongTy}} </div>
            <div>{{item.startDate}} </div>
            <div>{{item.endDate}} </div>
            <div>{{item.moTa}} </div>
         </div>
        </h3>
    </p-tabPanel>
    <p-tabPanel header="Đánh giá CV" leftIcon="pi pi-user" rightIcon="pi pi-star" *ngIf="infoStudent">
      <app-assess-student [infoCV]="CV" (CV)="GetCV($event)" (confirm)="Confirm($event)" [student]="student" [infoStudent]="infoStudent"></app-assess-student>
    </p-tabPanel>
     {{student.length}}
</p-tabView> -->



