<a [routerLink]="['../thongTinCaNhan']">Thông tin cá nhân</a>
<a [routerLink]="['../saveWork']">Việc làm của tôi</a>
<a [routerLink]="['../viewCV']">Xem CV</a>

<!-- <p-tabView>
    <p-tabPanel header="Việc làm đã lưu" leftIcon="pi pi-calendar">
        <app-list-savework></app-list-savework>
    </p-tabPanel>
    <p-tabPanel header="Việc làm đã ứng tuyển" leftIcon="pi pi-inbox">
        <app-list-applywork></app-list-applywork> 
    </p-tabPanel>
</p-tabView> -->
<br>
<a [routerLink]="['../saveWork']">Công việc đã lưu</a>
<a [routerLink]="['../applywork']">Công việc đã ứng tuyển</a>
