<div class="ui-g">
    <div class="ui-g-8 detail">
        <div class="ui-g">
            <div class="ui-g-8">
              <h2 style="text-align: center;margin-left: 139px">Công việc tương tự</h2>
            </div>
        </div>
        <div class="ui-g ">
            <div class="ui-g-8 mouse">
                <img class="logo" src="https://images.vietnamworks.com/pictureofcompany/36/10243665.png" alt="Develop .Net &amp; Mobile (Up to 1250$)">
                <div class="bottom top">
                  <span class="content-label">Develop .Net & Mobile (Up to 1250$)</span><br>
                  <span class="content">Công Ty Cổ Phần Phúc Thành Việt Nam</span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-8">
                <img class="logo" src="https://images.vietnamworks.com/pictureofcompany/f3/10778541.png" alt="Tuyển Lập Trình C++/c# / Opencv">
                <div class="bottom">
                    <span class="content-label">Tuyển Lập Trình C++/c# / Opencv</span><br>
                    <span class="content">Trung Tâm Ứng Dụng Công Nghệ Thông Tin - Đại Học Quốc Gia Hà Nội</span>
                 </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-8">
                <img class="img-responsive logo" src="https://images.vietnamworks.com/pictureofcompany/05/10296743.png" alt="[HCM &amp; HN] Senior Software Engineer (.NET)">
                <div class="bottom">
                    <span class="content-label">[HCM & HN] Senior Software Engineer (.NET)</span><br>
                    <span class="content">NashTech</span>
                 </div>
            </div>
        </div>
    </div>
</div>