<!-- <div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-g-1">
          
      </div>
      <div class="ui-g-10 tabs-container">
          <div class="ui-g">
              <div class="ui-g-6">
                <div class="logo-box">
                      <a data-item-id="1080993" href="https://www.vietnamworks.com/tuyen-gap-02-it-business-analyst-lam-viec-tai-ha-noi-1-1080993-jv/?utm_source=vnw_homepage&amp;utm_medium=HotJob&amp;utm_campaign=HotJob&amp;source=homePage" target="_blank" title="Việc làm - Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội - Yumeshin Vietnam - Hà Nội" tabindex="0">
                      <img class="img-responsive logo" id="topjob-logo-1080993" src="https://images.vietnamworks.com/pictureofcompany/8c/10756982.png" alt="Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội" >
                      </a>
                </div>
                <div class="detail">
                    <p class="job-title">
                        Expert, Project Supply Chain Management     
                    </p>
                  <div class="job-title-bottom">
                      <span>
                          Mercedes Benz Vietnam LTD. 
                      </span>
                      <span class="hidden-xs">-</span>
                      <span class="location hidden-xs">Hồ Chí Minh</span>
                      <span class="hot-job-badge">Hot</span>
                  </div>
                </div>
              </div>
              <div class="ui-g-6">
                 
              </div>
          </div>
      </div>
      <div class="ui-g-1">
          
      </div>
    </div>
  </div>
</div> -->



 
<div class="ui-g">
        <div class="ui-g-6">
          <div class="logo-box">
                <a data-item-id="1080993" href="https://www.vietnamworks.com/tuyen-gap-02-it-business-analyst-lam-viec-tai-ha-noi-1-1080993-jv/?utm_source=vnw_homepage&amp;utm_medium=HotJob&amp;utm_campaign=HotJob&amp;source=homePage" target="_blank" title="Việc làm - Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội - Yumeshin Vietnam - Hà Nội" tabindex="0">
                <img class="img-responsive logo" id="topjob-logo-1080993" src="https://images.vietnamworks.com/pictureofcompany/8c/10756982.png" alt="Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội" >
                </a>
          </div>
          <div class="detail">
              <p class="job-title">
                  Expert, Project Supply Chain Management     
              </p>
            <div class="job-title-bottom">
                <span>
                    Mercedes Benz Vietnam LTD. 
                </span>
                <span class="hidden-xs">-</span>
                <span class="location hidden-xs">Hồ Chí Minh</span>
                <span class="hot-job-badge">Hot</span>
            </div>
          </div>
        </div>
</div> 





<!-- 
    Component danh sach công việc
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="ui-g" style="border: 1px solid">
  <div class="ui-g-12">
      <div class="ui-g-2">
          <img src="https://images.vietnamworks.com/pictureofcompany/34/10302268.png">
      </div>
    <div class="ui-g-10" style="padding-left:50px;">
        <div class="ui-g">
            <div class="ui-g-10">
                <h3><a>(.Net/ PHP)Developer</a></h3>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <span title="FPT Telecom">FPT Telecom</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-10">
                <span>Lương:</span>
                <span> $500 - $1200</span>
                <span>|</span>
                <span>Khu vực:</span>
                <strong title="Hà Nội, Hồ Chí Minh"> Hà Nội, Hồ Chí Minh</strong>
                <span>|</span><br>
                <span>Ngày đăng:</span>
                <strong> 29/3/2019</strong>
            </div>
        </div>
        <div class="ui-g title">
            <div class="ui-g-10">
                <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                <span>Tưởng KPI, tháng 13, thưởng kinh doanh....</span>
            </div>
        </div>
        <div class="ui-g title" >
            <div class="ui-g-10">
                <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                <span>Bảo hiểm chăm sóc sức khỏe FPT Care</span>
            </div>
        </div>
        <div class="ui-g title">
            <div class="ui-g-10">
                <i class="glyphicon glyphicon-cloud" style="font-size:24px;"></i>
                <span>Du lịch hàng năm</span>
            </div>
        </div>
    </div>
  </div>
</div>   
-->











<!-- 
   Component Thông tin ứng viên
    <div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <i class="fa fa-flag"></i> 
            <h1 style="margin-top: -6px;margin-left: 10px;"> Thông Tin Chung</h1>
        </div>
        <div class="ui-g">
            <h3>Giới thiệu bản thân</h3>
        </div>
        <div class="ui-g">
                <textarea pInputTextarea style="width: 702px;height: 100px;;"></textarea>
        </div>
        <div class="ui-g">
            <div style="margin-left: 400px;margin-top: 10px;">
                <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                <button pButton type="button" label="Lưu" ></button>
            </div>
                
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Kỹ năng</h1>
        </div>
        <div class="ui-g">
             <span>Thêm kỹ năng nghề nghiệp đề nhận được những đề nghị công việc phù hợp hơn</span>
        </div>
        <div class="ui-g">
                <input type="text" pInputText placeholder="Keyword" style="width: 500px;margin-right: 5px;"> 
                <button type="button" class="btn btn-sm btn-default" id="btn-add-tag">
                        <i class="fa fa-plus"></i>
                </button>
        </div>
        <div class="ui-g">
                <div style="margin-left: 400px;margin-top: 10px;">
                    <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                    <button pButton type="button" label="Lưu" ></button>
                </div>
                    
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Ngoại ngữ</h1>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <strong>Ngoại ngữ</strong>
            </div>
            <div class="ui-g-6">
                <strong>Trình độ</strong>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                    <p-dropdown [options]="language" [(ngModel)]="selectedCity1"></p-dropdown>
            </div>
            <div class="ui-g-6">
                <div class="ui-g">
                        <div class="ui-g-6" style="float: left;">
                            <p-radioButton name="group1" value="Option 1" label="Sơ cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-6" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Trung cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-6" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Cao cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-6" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Bản ngữ" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
                <div style="margin-left: 400px;margin-top: 10px;">
                    <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                    <button pButton type="button" label="Lưu" ></button>
                </div>
        </div>
    </div>
</div>


<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Kinh nghiệm làm việc</h1>
        </div>
        <div class="ui-g">
            <span>Mô tả kinh nghiệm làm việc của bạn càng chi tiết càng tốt</span>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong> Chức danh</label>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
                <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText> 
                        <label for="float-input">Ví dụ:Designer</label>
                </span>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
                <label><strong class="text-red">*</strong>Công ty</label>
        </div>
        <div class="ui-g" style="margin-top: 15px">
                <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText> 
                        <label for="float-input">Ví dụ:Fpt</label>
                </span>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                    <label><strong class="text-red">*</strong>Từ tháng</label>
            </div>
            <div class="ui-g-6">
                    <label><strong class="text-red">*</strong>Đến tháng</label>
            </div>
        </div>
        <div class="ui-g">
                <div class="ui-g-6">
                        <p-calendar [(ngModel)]="date2" [showIcon]="true"></p-calendar>
                </div>
                <div class="ui-g-6">
                        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>    
                </div>
        </div>
        <div class="ui-g">
            <label><strong class="text-red">*</strong>Mô tả</label>
        </div>
        <div class="ui-g">
            <textarea pInputTextarea style="width: 702px;height: 100px;;"></textarea>
        </div>
        <div class="ui-g">
                <div style="margin-left: 400px;margin-top: 10px;">
                    <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                    <button pButton type="button" label="Lưu" ></button>
                </div>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <i class="fa fa-flag"></i> 
            <h1 style="margin-top: -6px;margin-left: 10px;">Chuyên ngành</h1>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Chuyên ngành</label>
        </div>
        <div class="ui-g"  style="margin-top: 15px">
                <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText> 
                        <label for="float-input">Ví dụ:Kỹ thuật phần mềm</label>
                </span>
        </div>
        <div class="ui-g">
            <div class="ui-g-6">
                <label><strong class="text-red">*</strong>Trường</label>
            </div>
            <div class="ui-g-6">
                <label><strong class="text-red">*</strong>Bằng cấp</label>
            </div>
        </div>
        <div class="ui-g">
                <div class="ui-g-6">
                        <span class="ui-float-label">
                                <input id="float-input" type="text" size="30" pInputText> 
                                <label for="float-input">Trường:Đại học công nghiệp</label>
                        </span>
                </div>
                <div class="ui-g-6">
                        <p-dropdown [options]="degree" [(ngModel)]="selectedCity1"></p-dropdown>
                </div>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Thành tưu</label>
        </div>
        <div class="ui-g">
                <textarea pInputTextarea style="width: 702px;height: 100px;;"></textarea>
        </div>
        <div class="ui-g">
                <div style="margin-left: 400px;margin-top: 10px;">
                        <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                        <button pButton type="button" label="Lưu" ></button>
                </div>
        </div>

    </div>
</div>




<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Công việc mong muốn</h1>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Nơi làm việc</label>
        </div>
        <div class="ui-g">
            <div>
                <p-multiSelect [options]="citis" [(ngModel)]="selectedCars1" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
            </div>
        </div>
        <div class="ui-g">
            <div style="margin-top:-20px;">
                <p>Selected Cars: {{selectedCars1}}</p>
            </div>
        </div>
        <div class="ui-g">
            <label><strong class="text-red">*</strong>Ngành nghề</label>
        </div>
        <div class="ui-g">
            <div>
                <p-multiSelect [options]="citis" [(ngModel)]="selectedCars2" [panelStyle]="{minWidth:'20em'}"></p-multiSelect>
            </div>
        </div>
        <div class="ui-g">
            <div style="margin-top:-20px;">
                <p>Selected Cars: {{selectedCars2}}</p>
            </div>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Mức lương mong muốn</label>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Mức lương mong muốn</label>
            </span>
        </div>
        <div class="ui-g">
                <div style="margin-left: 400px;margin-top: 10px;">
                        <button pButton type="button" style="margin-right: 5px;" label="Hủy" ></button>
                        <button pButton type="button" label="Lưu" ></button>
                </div>
        </div>
    </div>
</div> -->





<!-- 
    Component Việc làm đã lưu của ứng viên
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-3" style="margin-top: -10px;padding-left: 200px;">
                        <a data-item-id="1080993" href="https://www.vietnamworks.com/tuyen-gap-02-it-business-analyst-lam-viec-tai-ha-noi-1-1080993-jv/?utm_source=vnw_homepage&amp;utm_medium=HotJob&amp;utm_campaign=HotJob&amp;source=homePage" target="_blank" title="Việc làm - Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội - Yumeshin Vietnam - Hà Nội" tabindex="0">
                            <img class="img-responsive logo" id="topjob-logo-1080993" src="https://images.vietnamworks.com/pictureofcompany/8c/10756982.png" alt="Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội" >
                        </a>
                </div>
                <div class="ui-g-5" style="margin-top: -50px;">
                        <p class="job-title">
                                Expert, Project Supply Chain Management     
                            </p>
                          <div class="job-title-bottom">
                              <span>
                                  Mercedes Benz Vietnam LTD. 
                              </span>
                              <span class="hidden-xs">-</span>
                              <span class="location hidden-xs">Hồ Chí Minh</span>
                              <span class="hot-job-badge">Hot</span>
                          </div>
                </div>
                <div class="ui-g-1">
                        <div class="text-light">Ngày hết hạn<span class="hidden-md hidden-lg m-r-xs">:</span></div>
                        <div class="text-strong">10/4/2019</div>
                </div>
                <div class="ui-g-3">
                        <button pButton type="button" style="margin-right: 5px;" label="Ưng tuyển" ></button>
                        <button pButton type="button" label="Xóa" ></button>
                </div>
            </div>
        </div>
</div>  
 -->













 <!-- 
    Component việc làm đã ứng tuyển 
    <div class="ui-g">
        <div class="ui-g-12">
            <div class="ui-g">
                <div class="ui-g-3" style="margin-top: -10px;padding-left: 200px;">
                        <a data-item-id="1080993" href="https://www.vietnamworks.com/tuyen-gap-02-it-business-analyst-lam-viec-tai-ha-noi-1-1080993-jv/?utm_source=vnw_homepage&amp;utm_medium=HotJob&amp;utm_campaign=HotJob&amp;source=homePage" target="_blank" title="Việc làm - Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội - Yumeshin Vietnam - Hà Nội" tabindex="0">
                            <img class="img-responsive logo" id="topjob-logo-1080993" src="https://images.vietnamworks.com/pictureofcompany/8c/10756982.png" alt="Tuyển Gấp 02 IT Business Analyst Làm Việc Tại Hà Nội" >
                        </a>
                </div>
                <div class="ui-g-5" style="margin-top: -50px;">
                        <p class="job-title">
                                Expert, Project Supply Chain Management     
                            </p>
                          <div class="job-title-bottom">
                              <span>
                                  Mercedes Benz Vietnam LTD. 
                              </span>
                              <span class="hidden-xs">-</span>
                              <span class="location hidden-xs">Hồ Chí Minh</span>
                              <span class="hot-job-badge">Hot</span>
                          </div>
                </div>
                <div class="ui-g-1">
                        <div class="text-light">Ngày hết hạn<span class="hidden-md hidden-lg m-r-xs">:</span></div>
                        <div class="text-strong">10/4/2019</div>
                </div>
                <div class="ui-g-3">
                        <div class="text-light">Đã ứng tuyển<span class="hidden-md hidden-lg m-r-xs">:</span></div>
                        <div class="text-strong">8/3/2019</div>
                </div>
            </div>
        </div>
</div>   -->



<!-- 
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-6">
                    <div class="name">C#</div>
            </div>
            <div class="ui-g-2">
                    <div class="text-light">Nhận<span class="hidden-md hidden-lg">:</span></div>
            </div>
            <div class="ui-g-2">
                    <div class="text-light">Ngày cập nhật<span class="hidden-md hidden-lg">:</span></div>
            </div>
            <div class="ui-g-2">
                    <button pButton type="button" label="Cập nhật" ></button>
            </div>
        </div>
        <div class="ui-g">
                <div class="ui-g-6">
                    <span class="location">Hồ Chí Minh</span>
                    <span class="separator hidden-sm hidden-xs">-<span class="location">Hồ Chí Minh</span></span>
                    <span>IT - Phần mềm<span class="level"><span class="separator hidden-sm hidden-xs">-</span><span>Mới Tốt Nghiệp</span></span><span class="salary"><span class="separator hidden-sm hidden-xs">-</span><span>$500</span></span></span>
                </div>
                <div class="ui-g-2">
                    <div class="text-strong">Hàng ngày</div>
                </div>
                <div class="ui-g-2">
                    <div class="text-strong">23-01-2019</div>
                </div>
                <div class="ui-g-2">
                       
                </div>
        </div>
    </div>
</div> -->




<div class="YourJobs">
    <div>
        <h3>Jobs You Will Love</h3>
        <div class="tab-wrapper">
            <div class="row tab">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right choose">
                    <div style="float: right;" class="active" id="lol">
                        <a href="#tab-top">
                            <p>TOP JOBS</p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 choose">
                    <div>
                        <a href="#tab-recommanded">
                            <p>RECOMMANDED JOBS</p>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row tabcontent">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tab-item" id="tab-top">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="tab-items">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="tab-items">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
                <!--recommanded-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tab-item" id="tab-recommanded">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="tab-items">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <ul class="tab-items">
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic1.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="./thuvien/images/topic.png" width="100%" />
                                                </a>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                <p>
                                                    <a href="#">
                                                        Tester Leader (Up to 1,500$)</a>
                                                </p>
                                                <p>
                                                    Tổ Hợp Công Nghệ Giáo Dục Topica </p>
                                            </div>
                                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                                <span>HOT</span>
                                            </div>
                                        </div>

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--recommanded-->
            </div>
            <div class="com-slider-bottom">
                <ul>
                    <li>
                        <a href="#">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#a">
                            <div class="active"></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

