<!-- <div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <i class="fa fa-flag"></i> 
            <h1 style="margin-top: -6px;margin-left: 10px;"> Thông Tin Chung</h1>
        </div>
        <div class="ui-g">
            <h3>Giới thiệu bản thân</h3>
        </div>
        <div class="ui-g">
                <textarea disabled="true" pInputTextarea style="width: 702px;height: 100px;;">Nguyển Đức Huy.Thích đọc sách,ham học hỏi</textarea>
        </div>
        <div class="ui-g">
        </div>
    </div>
</div>



<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Kỹ năng</h1>
        </div>
        <div class="ui-g">
             <span>Thêm kỹ năng nghề nghiệp đề nhận được những đề nghị công việc phù hợp hơn</span>
        </div>
        <div class="ui-g">
                <input disabled="true" type="text"  pInputText placeholder="Keyword" value="C#,Java,NodeJs" style="width: 500px;margin-right: 5px;"> 
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Ngoại ngữ</h1>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <strong>Ngoại ngữ</strong>
            </div>
            <div class="ui-g-8">
                <strong>Trình độ</strong>
            </div>
        </div>
        
        <div class="ui-g">
            <div class="ui-g-4">
                <input  disabled="true" type="text"  pInputText placeholder="Keyword" value="Tiếng Anh,Tiếng Nhật,Tiếng Trung Quốc" style="width: 400px;margin-right: 5px;"> 
            </div>
            <div class="ui-g-8">
                <div class="ui-g">
                        <div class="ui-g-2" style="float: left;">
                            <p-radioButton checked name="group1" value="Option 1" label="Sơ cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-2" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Trung cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-2" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Cao cấp" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                        <div class="ui-g-2" style="float: left;">
                                <p-radioButton name="group1" value="Option 1" label="Bản ngữ" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Kinh nghiệm làm việc</h1>
        </div>
        <div class="ui-g">
            <span>Mô tả kinh nghiệm làm việc của bạn càng chi tiết càng tốt</span>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong> Chức danh</label>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
                <span class="ui-float-label">
                        <input value="Thực tập sinh Fpt" id="float-input" type="text" size="30" pInputText> 
                        
                </span>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
                <label><strong class="text-red">*</strong>Công ty</label>
        </div>
        <div class="ui-g" style="margin-top: 15px">
                <span class="ui-float-label">
                        <input value="Công ty Fpt" id="float-input" type="text" size="30" pInputText> 
                </span>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                    <label><strong class="text-red">*</strong>Từ tháng</label>
            </div>
            <div class="ui-g-3">
                    <label><strong class="text-red">*</strong>Đến tháng</label>
            </div>
        </div>
        <div class="ui-g">
                <div class="ui-g-3">
                    <input value="2/1/2019" id="float-input" type="text" size="30" pInputText> 
                </div>
                <div class="ui-g-3">
                    <input value="2/4/2019" id="float-input" type="text" size="30" pInputText>     
                </div>
        </div>
        <div class="ui-g">
            <label><strong class="text-red">*</strong>Mô tả</label>
        </div>
        <div class="ui-g">
            <textarea disabled pInputTextarea style="width: 702px;height: 100px;;">Thực hiện tốt các công việc đã được giao</textarea>
        </div>
        
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <i class="fa fa-flag"></i> 
            <h1 style="margin-top: -6px;margin-left: 10px;">Chuyên ngành</h1>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Chuyên ngành</label>
        </div>
        <div class="ui-g"  style="margin-top: 15px">
                <span class="ui-float-label">
                        <input disabled value="Kỹ thuật phần mềm" id="float-input" type="text" size="30" pInputText> 
                        
                </span>
        </div>
        <div class="ui-g">
            <div class="ui-g-3">
                <label><strong class="text-red">*</strong>Trường</label>
            </div>
            <div class="ui-g-6">
                <label><strong class="text-red">*</strong>Bằng cấp</label>
            </div>
        </div>
        <div class="ui-g">
                <div class="ui-g-3">
                        <span class="ui-float-label">
                                <input disabled value="Trường đại học công nghiệp Tp.HCM" id="float-input" type="text" size="30" pInputText> 
                        </span>
                </div>
                <div class="ui-g-6">
                    <input disabled value="Chưa có" id="float-input" type="text" size="30" pInputText> 
                </div>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong></label>
        </div>
        <div class="ui-g">
                <textarea disabled pInputTextarea style="width: 702px;height: 100px;;">Không có thành tựu</textarea>
        </div>
    </div>
</div>




<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
                <i class="fa fa-flag"></i> 
                <h1 style="margin-top: -6px;margin-left: 10px;">Công việc mong muốn</h1>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Nơi làm việc</label>
        </div>
        <div class="ui-g">
            <div>
                <input disabled value="Sài gòn" id="float-input" type="text" size="30" pInputText> 
            </div>
        </div>
        <div class="ui-g">
            <label><strong class="text-red">*</strong>Ngành nghề</label>
        </div>
        <div class="ui-g">
            <div>
                <input disabled value="C#" id="float-input" type="text" size="30" pInputText> 
            </div>
        </div>
        <div class="ui-g">
                <label><strong class="text-red">*</strong>Mức lương mong muốn</label>
        </div>
        <div class="ui-g" style="margin-top: 15px;">
            <span class="ui-float-label">
                <input disabled value="10 triệu đồng" id="float-input" type="text" size="30" pInputText> 
              
            </span>
        </div>
    </div>
</div> -->
<a [routerLink]="['../../../detail',id,idJob]">Xem thong tin </a>
<a [routerLink]="['../../../viewCV',id,idJob]">Xem CV</a>
<a [routerLink]="['../../../history',id,idJob]">Xem lịch sử ứng tuyển</a>

<!-- <h3>Thong tin ung vien</h3>
{{id}}
{{idJob}}

<a [routerLink]="['../../../danhsach',idJob]">Back</a>

<div *ngIf="inforCandidate.length!=0">
    <h3>ConCac</h3>
    <h3>{{inforCandidate[0].name}}</h3>
    <h3>{{inforCandidate[0].email}}</h3>
</div>
<div *ngIf="x">
    <h3>{{x[0].name}}</h3>
</div>
<div id='content' #content>
    <h3>ConCac</h3>
</div>
<button (click)="Export()">Export</button> -->





<!-- <table #screen id="table" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  
  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
  


  
  <div class="btn btn-primary" (click)="downloadImage()">DL</div>

  <input type="file" accept="image/*" (change)="changeListener($event)">

   <img [src]="imagePath">
   <img [src]="imagePath">
   <img [src]="imagePath" style="width: 50px;">
    -->

 <div >
        <img [src]="img" id='content' #content >
        
</div>

