<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-g">
            <div class="ui-g-4 job-content">
              <img  src="http://www.sam.edu.vn/Data/Sites/1/News/1370/sam-quan-ly-cap-trung.jpg" style="width: 434px;height: 261px;">
              
              <div class="job-detail">
                <div class="channel-label">Việc Làm Cấp Quản Lý</div>
                <div class="number-jobs">10 Việc Làm</div>
                <button pButton type="button" label="Xem" style="margin-left: 70px;"></button>
              </div>
            </div>
        </div>
</div>






